* {
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
}

.section{
    width: 100%;
}

.container {
    display: block;
}

.menu {
    
    display: flex;
}

.option{
    margin-inline: 5rem;
}

.grad {
    background: linear-gradient(90deg, rgba(239, 125, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
}

.navbar {
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(239, 125, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
    border-bottom: 1px solid #EF7D00;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 2%;
    font-weight: 600;
    
}

#logo {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    
    margin-top: 0;    
}

.button {
    display: flex;
    align-items: center;
    justify-content: center; 
}



h1 {
    font-weight: 750;
    font-size: 55px;
}

h2 {
    font-weight: 300;
    font-size: 18px;
}

.texts {
    display: block;
    margin-inline: 10%;
    justify-content: center;

}

.pet-photo {
    position: absolute;
    width: 30%; 
    height: auto;
    margin-top: 10em;
}

.dog-text {
    display: flex;
    justify-content: center;
}

#bakterie-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
}

#one {
    display: flex;
    margin-left: 10%;
}

#mission {
    display: flex;
    align-items: center; 
    font-size: 35px;
    font-weight: 750;
}

#text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 13%;
    font-weight: 300;
    font-size: 18px;
}

.we-know {
    display: flex;
    margin-top: 3rem;
}

#cloud {
    display: flex;
    margin-top: 4rem;
    background-color: #EF7D00;
    width: 40rem;
    height: 257px;
    border-radius: 15px;
}

#triangle {
    display: flex;
    margin-top: 7em;
}

#quote1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5rem;
    margin-top: -1.6rem;
}

#quote2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 22rem;
    margin-top: 18em;
}

#text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
    margin: 4rem;
    color: #ffff;
    font-size: 16px;
}

#product {
    width: 45%;
    height: auto;
    margin-top: 10%;
    margin-left: 5%;
}



#about
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50%;
    font-size: 35px;
    font-weight: 750;
}

#aboutp {
    margin-left: 50%;
    font-weight: 800;
    font-size: 50px;
}

.section_about {
    display: flex;
    flex-direction: column;
}


#about_des
{
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 18px;
}

.images {
    display: flex;
    background-color: #ffff;
    padding: 1.3rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 13px 20px 41px -12px rgba(66, 68, 90, 1);
    
}

.without {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}

.for {
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.orange_text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EF7D00;
    color: #ffffff;
    width: 200px;
    height: 50px;
}

.keyword {
font-weight: 600;
font-size: 18px;
color: #ffffff;
background-color: #EF7D00;
padding: 15px 70px;
border: none;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
transition : 545ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
text-transform: uppercase;
justify-content: center;
}

.keyword.btn {
    cursor: pointer;
}


.info {
    display: flex;
    justify-content: flex-start;
    margin: 3rem;
}

.info2 {
    display: flex;
    align-items: flex-start;
    margin: 3rem;
}

.info_section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5rem;
    flex-wrap: wrap;
}

.indications {
    margin-left: 2rem;
}



#content_desc {
    padding: 5%;
    font-weight: 500;
    background: linear-gradient(90deg, rgba(239, 125, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
    width:90%;
    height: 7em;
    align-items: center;
    justify-content: center;
    display: flex;
    font-style: italic;
    border-radius: 2em;
    font-size: 20px;
    line-height: 180%;
    letter-spacing: 180%;

}

#content_desc:after{
    background-image: url(./bakterie\ 5.svg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.use {

display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 5%;
margin-bottom: 15%;
}

.pet-bacteries {
    display: flex;
    justify-content: center;
}

#button2 {
    margin-top: 12%;
    margin-left: 63%;
    display: flex;
    flex-wrap: wrap;
}

.contact {
    
    font-size: 35px;
    font-weight: 750;
    display: flex;
    margin: 2%;

}

#contact {
    margin-left: 3%;
}

.contact0 {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 80%;
    
}

.contact-group {
    display: flex;
}

.contact-card {
    width: 15em;
    height: 30em;
    border-radius: 1em;
    box-shadow: 4px 7px 28px -8px rgba(66, 68, 90, 1);
    background-color: #ffff;
    margin-inline: 3em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-left: 3em;
}



.card-text {
    justify-content: center;
}

.person-title{
    font-size: 1rem;
    color: #ef7d00;
    margin-bottom: 1rem;
}

.title{
    font-size: 2rem;
    
}

.map {
    background-color: #ef7d0021;
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 5%;
    margin-left: 15%;
    color: #EF7D00;
    font-weight: 600;
    padding: 5%;
    margin: 7%;

}

#cat {
    margin-top: -15%;
}

.bold {
    font-weight: 700;
}


footer {
    border-top: 1px solid #EF7D00;
    padding: 3%;
    background: linear-gradient(90deg, rgba(239, 125, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);;
}

.icon {
    width: 17%;
}

#card-text2 {
    line-height: 5%;
    margin: -1em;
}



#bacteries5img {
    width: 40em;
}

#dog2img {
    position: absolute;
    display: flex;
    margin-top: -33em;
    width: 50em;
}

#grad4 {
    width: 60%;
    height: 100%;
    background: linear-gradient(90deg, rgba(239, 125, 0, 0.13) 0%, rgba(255, 255, 255, 0.13) 100%);
    position: absolute;
}

.form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}



@media screen and (max-width: 1500px) {
    #cat {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}
    
/* ############################################################################################################################ */

@media screen and (max-width: 600px) {
    .for{
        display: block;
    }

    .menu{
        display: block;
    }

    .option{
        margin-top: 1rem;
    }

    .without {
        display: block;
    }

    #text2 {
        display: flex;
        flex-wrap: wrap;
        font-size: 11px;
        
    }

    #about {
        display: flex;
        flex-wrap: nowrap;
        font-size: -20%;
        font-size: 30px;
        margin-left: 50%;
    }


    .for {
        margin-top: 15%;
    }

    #button2 {
        width: 25em;
    }

    .pet-photo {
        width: 50%;
        
    }

    .pet-bacteries {
        margin-bottom: 8em;
    }

    
}


@media screen and (max-width: 1200px) {
    .pet-photo {
        width: 50%;
        margin-top: 10em;
    }
    
    
    .contact0 {
        margin-top: 42em;
        margin-left: 12em;
    }

    .pet-bacteries {
        display: flex;
        justify-content: center;
        
    }

    #button2 {
        margin-top: 15em;
        margin-left: 28em;
        display: flex;
        flex-wrap: wrap;
    }

    .dog-text {
        display: block;
    }

    

    #h1 {
        font-weight: 650;
        font-size: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 15%;
        
    }

    #h2 {
        display: none;
    }

    #text {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 4rem;
        font-weight: 300;
        font-size: 18px;
       
        
    
    }

    #mission {
        display: flex;
        align-items: center;  
        font-size: 50px;
        font-weight: 800;
    }

    .we-konw {
        display: flex;
        flex-wrap: wrap;
    }
    #cloud {
    background-color: #EF7D00;
   
    height: 257px;
    border-radius: 15px;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    }

    #grad {
        width: 100%;
        height: 75%;
        position: absolute;
    }

    #triangle {
        display: none;
      
    }


    #quote1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 3rem;
        margin-top: -1.6rem;
    }
    
    #quote2 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: auto;
        margin-right: 3em;
     
        
    }

    #text2 {
        display: flex;
        justify-items:normal;
        position: absolute;
        flex-wrap: wrap;
        
    }

    .section_about {
        display: flex;
        flex-wrap: wrap;
        display: block;
    }

    #about {
        display: flex;
        flex-wrap: wrap;
        margin-top: auto;
        font-size: 50px;
        font-weight: 800;
        
    }

    #product {
        margin-left: 20%;
        width: 60%;
    }

    #about_des {
        display: flex;
        flex-wrap: wrap;
        margin-left: 10em;
    }



    .for {
        margin-top: 15%;
        margin-left: 7rem;
    }

    .contact0 {
        margin-top: 40em;
        margin-left: 13em;
    }

    #button2 {
        margin-top: 13em;
        margin-left: 28em;
        
    }

    #bakterie-3 {
        width: 20rem ;
    }

/* ############################################################################################################# */

@media screen and (max-width: 768px) {
    #quote2 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: auto;
        margin-left: auto;
    }

    #cloud {
        margin: 0.5rem;
    }

   #about {
    margin-left: 2%;
   }

   #about_des {
        margin-left: 6em;
    }
    #content_desc {
        font-weight: 400;
        font-size: 15px;
    }

    .contact0 {
        margin-top: 42em;
        margin-left: 5em;
    }

    #button2 {
        margin-top: 15em;
        margin-left: 12em;
    }

    .contact-group {
        display: block;
    }
}